<?xml version="1.0"?>
<config>
    <modules>
        <Peakk_Threadflo>
            <version>1.1.4</version>
        </Peakk_Threadflo>
    </modules>
    <global>
        <blocks>
            <threadflo>
                <class>Peakk_Threadflo_Block</class>
            </threadflo>
            <adminhtml>
                <rewrite>
                    <sales_items_column_name>Peakk_Threadflo_Block_Adminhtml_Sales_Items_Column_Name</sales_items_column_name>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <threadflo>
                <class>Peakk_Threadflo_Helper</class>
            </threadflo>
        </helpers>
        <models>
            <threadflo>
                <class>Peakk_Threadflo_Model</class>
                <resourceModel>threadflo_resource</resourceModel>
            </threadflo>
            <threadflo_resource>
                <class>Peakk_Threadflo_Model_Resource</class>
                <entities>
                    <item>
                        <table>threadflo_item</table>
                    </item>
                    <item_image>
                        <table>threadflo_item_image</table>
                    </item_image>
                </entities>
            </threadflo_resource>
        </models>
        <resources>
            <threadflo_setup>
                <setup>
                    <module>Peakk_Threadflo</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </threadflo_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_item>
                <threadflo_item_id>
                    <to_order_item>*</to_order_item>
                </threadflo_item_id>
                <threadflo_item_sku>
                    <to_order_item>*</to_order_item>
                </threadflo_item_sku>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <threadflo_item_id>
                    <to_quote_item>*</to_quote_item>
                </threadflo_item_id>
                <threadflo_item_sku>
                    <to_quote_item>*</to_quote_item>
                </threadflo_item_sku>
            </sales_convert_order_item>
        </fieldsets>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <threadflo_item_id_set>
                        <class>threadflo/observer</class>
                        <method>salesQuoteItemSetThreadfloItemId</method>
                    </threadflo_item_id_set>
                </observers>
            </sales_quote_item_set_product>
            <sales_model_service_quote_submit_success>
                <observers>
                    <threadflo_send_order>
                        <class>threadflo/observer</class>
                        <method>sendThreadfloOrder</method>
                    </threadflo_send_order>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <threadflo_item_id/>
                        <threadflo_item_sku/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <threadflo_items after="Mage_Adminhtml">Peakk_Threadflo_Adminhtml</threadflo_items>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <threadflo>
                    <file>threadflo.xml</file>
                </threadflo>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <threadflo_import_shipping_tracking>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>threadflo/observer::importShippingTracking</model>
                </run>
            </threadflo_import_shipping_tracking>
        </jobs>
    </crontab>
    <config>
        <default>
            <threadflo_general>
                <account>
                    <api_enabled>0</api_enabled>
                    <api_key></api_key>
                    <shipping_tracking_enabled>1</shipping_tracking_enabled>
                </account>
            </threadflo_general>
        </default>
    </config>
</config>
